.nav-bar{
    padding: 1px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
.navv{
    display:flex;
    gap: 24px;
    font-size: 14px;
    align-items: center;
}

.first-one{
    font-weight: bolder;
    font-size: 48px;
}
.first-second{
    margin-top: -2em;
    font-weight: 500;
    font-size: 16px;
}